---
import BaseLayout from "../layouts/BaseLayout.astro";

const postModules = import.meta.glob("./posts/*.md", { eager: true });

const posts = Object.entries(postModules).map(([path, module]) => {
    const slug = path.split("/").pop().replace(".md", "");

  const { title, description, image, pubDate, author, location } =
    module.frontmatter;

  return {
    slug,
    title,
    description,
    image,
    pubDate,
    author,
    location,
  };
})
---

<BaseLayout title="Tour Blog">
  <main class="page blog-list">
    <h1 class="blog-title">Tour Blog</h1>

    <div class="posts-grid">
      {posts.map((post) => {
        const href = `/posts/${post.slug}/`;

        return (
          <article class="post-card">
            {post.image && post.image.url && (
              <a href={href}>
                <img
                  src={post.image.url}
                  alt={post.image.alt || post.title}
                  class="post-thumb"
                />
              </a>
            )}

            <div class="post-content">
              <h2>
                <a href={href}>{post.title}</a>
              </h2>

              <p class="post-meta">
                {post.pubDate && (
                  <time datetime={post.pubDate}>{post.pubDate}</time>
                )}
                {post.author && <> Published by: {post.author}</>}
              </p>
            </div>
          </article>
        );
      })}
    </div>
  </main>
</BaseLayout>
